html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, cite, code, img, small, strike, strong, sub,
sup, tt, var, b, u, i,
ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

ul, li, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

:root {
    --main-content-bg: #e1e8f0;
    --sidebar-bg: #1892d3;
    --border-left: #f1b328;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas: 
        'search overview'
        'welcome buttons';
}

.search-bar {
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#search-bar {
    width: 90%;
    background-color: var(--main-content-bg);
    border: none;
    border-radius: 15px;
    height: 25px;
}

.account-overview {
    grid-area: overview;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.profile-picture {
    border-radius: 50%;
}

.profile-welcome {
    grid-area: welcome;
}

.header-buttons {
    grid-area: buttons;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--sidebar-bg);
    color: white;
}

main {
    grid-area: main;
    background-color: var(--main-content-bg);
}
